source_env .config/direnvrc
save_defined
ensure_all_documented

# CAVEATICA_CONTROL_SOCKET: the WebSocket URL to connect to the caveatica controller
export CAVEATICA_CONTROL_SOCKET=
# CAVEATICA_BASIC_AUTH_ID: (optional) the basic auth ID for the websocket connection to the caveatica controller
export CAVEATICA_BASIC_AUTH_ID=
# CAVEATICA_BASIC_AUTH_PASSWORD: (optional) the basic auth password for the websocket connection to the caveatica controller
export CAVEATICA_BASIC_AUTH_PASSWORD=
# MIX_TARGET: the target device for the build
export MIX_TARGET=rpi3 # rpi0|rpi3|rpi4
# FIRMWARE_DEVICE: the device path for the firmware installation (e.g. /dev/sda)
export FIRMWARE_DEVICE=
# WIFI_SSID: the SSID of the WiFi network to connect to
export WIFI_SSID=
# WIFI_PASSPHRASE: the passphrase of the WiFi network to connect to
export WIFI_PASSPHRASE=

source_env_if_exists .envrc.private
fail_on_unknown
ensure_all_set
